html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, serif;
  min-height: 100%;
}
h1
{
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}
h2 {
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 0px;
}
h3 {
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0px;
}

p {
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}
.signature {
  color: #000000;
  font-family: 'Dancing Script', Helvetica, Arial, sans-serif;
}

.one-third {
  /*width: 30%;*/
}
/* HEADER */
header {
  /*background: url('../images/designphoto1.png') top center no-repeat;*/
  background-size: cover;
  color: #FFF;
  padding: 20px 100px;
  height: 700px;
}

.topheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.navigation li + li {
  margin-left: 15px;
}

header a {
  text-decoration: none;
  color: #000000;
}

.aboutme {
  width: 45%;
}
.aboutcontent {
  display: flex;
}

header .aboutme h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 10;
  margin-bottom: 0;
  padding-top: 30px;
}

header .aboutme h2 {
  font-weight: bold;
  margin-top: 0;
}

header .aboutme h1 span.simple {
  color: #9DC183;
}

header .aboutme p {
  font-size: 16px;
  font-weight: 100;
  line-height: 26px;
  margin: 10px 0 40px;
}

header a.btn {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 1px;
  color: #000;
  font-weight: 700;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  width: 70px;
}


 .rw-wrapper{
	width: 50%;
	margin-left: 200px;
	padding: 10px;
  padding-top: 50px;

}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence span{
	color: #444;
	white-space: nowrap;
	font-size: 200%;
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	color: #9DC183;
}

.rw-words-2 span{
	animation: rotateWordsSecond 18s linear infinite 0s;
}
.rw-words span:nth-child(2) {
	animation-delay: 3s;
	color: #9DC183;
}
.rw-words span:nth-child(3) {
	animation-delay: 6s;
	color: #9DC183;
}
.rw-words span:nth-child(4) {
	animation-delay: 9s;
	color: #9DC183;
}
.rw-words span:nth-child(5) {
	animation-delay: 12s;
	color: #9DC183;
}
.rw-words span:nth-child(6) {
	animation-delay: 15s;
	color: #9DC183;
}
@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}
@keyframes rotateWordsSecond {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}


/* FOOTER */
footer {
  background-color: #000000;
  color: #FFF;
  height: 120px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  width: 100%;
}

.footer-nav-block {
  padding-left: 40px;
  padding-top: 25px;
  text-align: center;
}

footer .logo {
  float:left;
}

footer .nav {
  float: right;
}

footer p,
footer nav ul {
  font-size: 18px;
  font-weight: 100;
  margin: 30px auto 10;
  text-align: center;
}
footer nav ul li {
  display: inline;
  list-style-type: none;
}

footer nav ul li + li {
  margin-left: 15px;
}

footer nav ul li a {
  color: #FFF;
  text-decoration: none;
}
