html,
body {
  overflow-x: hidden;
}
body {
  background-color: #F8F8F8;
  color: #000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, serif;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Condensed', Helvetica, Arial, serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}
p {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 20px;
}

/* HEADER */
header {
  background: #DADADA;
  color: #000;
  padding: 20px 100px;
  height: 100%;
  text-align: center;
}

.topheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}

.topheader img {
  width: 100px;
}

.navigation ul {
  list-style: none;
  display: flex;
  font-size: 22px;
  margin: 0;
}

.navigation li + li {
  margin-left: 15px;
}

.dropbtnnav {
    background: #000;
    border-radius: 1px;
    color: #FFF;
    cursor: pointer;
    font-family: "Open Sans Condensed";
    font-size: 16px;
    font-weight: 700;
    min-width: 60px;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
}

.dropdownnav {
  display: inline-block;
  position: relative;
}

.dropdown-content-nav {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-nav a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-nav a:hover {background-color: #f1f1f1}

.dropdownnav:hover .dropdown-content-nav {
    display: block;
}

.dropdownnav:hover .dropbtnnav {
    background-color: #000;
    color: #fff;
}

header a {
  text-decoration: none;
  color: #000000;
}

.hero {
  width: 100%;
  margin-top: 20px;
}

.hero .brightboardlogo {
  width: 300px;
  margin-bottom: 0px;
}

.hero .brightboardslogan {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 38px;
  margin-bottom: 40px;
  margin-top: 0px;
}

.hero h2 {
  color: #000000;
  font-weight: normal;
  margin-bottom: 40px;
  margin-top: -40px;
}

.hero .navbuttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

header a.topbtn {
  color: #000;
  font-weight: 700;
  margin-right: 10px;
  padding: 60px 30px;
  padding-top: 5px;
  text-align: center;
  text-decoration: underline;
  width: 70px;
}

.hero p {
  font-family: 'Roboto', Helvetica, Arial, serif;
  width: 50%;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 10px;
}

.hero a.btn {
  background: #000;
  border-radius: 1px;
  color: #FFF;
  display: inline-block;
  font-weight: 700;
  margin-right: 20px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
}

.viewbrightboardbutton {
  margin: 0 auto;
}

.dropbtn {
    background: #000;
    border-radius: 1px;
    color: #FFF;
    cursor: pointer;
    font-family: "Open Sans Condensed";
    font-size: 16px;
    font-weight: 700;
    min-width: 125px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    width: 70px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #000;
    color: #fff;
}

.hero .macbook {
  margin-bottom: -20px;
  margin-top: -5px;
  width: 100%;
}

/* DELIVERABLES */
.deliverables {
  background-color: #000;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.deliverablescontent h2 {
}

.deliverablesbold {
  margin-bottom: 5px;
  font-weight: 900;
}

.stretch {
  display: inline-block;
  font-size: 0;
  line-height: 0
}

#box1,
#box2,
#box3 {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1
}

.box {
  width: 20%;
}

.boxdivider {
  display: block;
  position: relative;
  padding: 0;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 0;
  width: 25%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 3px solid #FFF;
  border-bottom: 3px solid #FFF;
}

.box img {
  margin-bottom: -20px;
}

.box li {
  font-family: "Roboto";
  list-style: none;
  text-align: center;
}

.box ul {
  margin: 0px;
  padding: 0px;
}

/* ABOUT */

.overviewcontent {
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
}

.overviewtext {
  padding: 40px 80px 0px 80px;
  text-align: left;
  width: 50%;
}

.overviewtext h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}

.overviewtext h2 {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
}

.overviewtext p {
  line-height: 1.5;
  width: 100%;
}

.overviewdivider {
  display: block;
  position: relative;
  padding: 0;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 0;
  width: 25%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 3px solid #4ABDAC;
  border-bottom: 3px solid #4ABDAC;
}

.aboutbrightboard {
  margin-bottom: 60px;
}

.challenge {
  margin-bottom: 60px;
}

.brightboardhomepage {
  box-shadow: 0 0 4px 3px rgba(0,0,0,0.10);
  width: 500px;
}

.homepagepicture {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.usersurveys:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(2.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.usersurveys {
  background-color: #000;
  color: #fff;
  padding-top: 20px;
  position: relative;
  z-index: 1;
  margin-top: 80px;
}

.research {
  width: 70%;
}

.usersurveyscontent {
  line-height: 1.5;
  margin: auto;
  text-align: left;
}

.competitorstext {
  line-height: 1.5;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: left;
}

.competitorstitle {
  text-align: left;
}

.competitorslogos {
  margin-top: 20px;
}

.competitorslogos .stretch {
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.competitorslogos #box1,
.competitorslogos #box2,
.competitorslogos #box3 {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1
}

.competitorslogos #box1,
.competitorslogos #box2 {
  margin-right: 40px;
}

.competitorlogos .box {
  width: 33%;
}

.dropbox,
.evernote,
.pinterest {
  width: 100%;
}

.research {
  margin: auto;
  text-align: center;
}

.personas {
  background: #4ABDAC;
  color: #fff;
  position: relative;
  z-index: 1;
  margin-top: 80px;
  padding-bottom: 60px;
  text-align: center;
}

.personas:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(2.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.user {
  margin-bottom: 100px;
  margin-top: 40px;
  padding: 20px 20px;
  width: 25%;
}

.user .name {
  margin-bottom: -10px;
}

.user .job {
  font-size: 18px;
}

.user h4 {
  text-decoration: underline;
  margin-bottom: 0px;
}

.user ul {
  font-family: "Roboto";
  font-size: 16px;
  margin: auto;
  margin-top: 10px;
  padding: 0px;
  text-align: center;
}

.user li {
  list-style: none;
}

.user .quote {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

#user1,
#user2,
#user3 {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1
}

/* BRANDING */
.branding {
  background: #fff;
  color: #000;
  margin-top: -100px;
  padding-top: 20px;
  position: relative;
  z-index: 1;
}

.branding:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(2.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.brandingbox {
  border: 4px solid black;
  color: #000;
  height: 100%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 900px;
}

.brandingexplanation {
  margin: auto;
  width: 70%;
}

.brandinglogos {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.logo1 {
  width: 230px;
}
.logo2,
.logo3 {
  width: 130px;
}

.logo1,
.logo2 {
  margin-right: 40px;
}

.brandingcolorpalette {
  margin-top: 40px;
  text-align: center;
}

.palette {
  width: 600px;
}

.brandingtypography {
  text-align: center;
}

.brandingtypographyheadlines h2,
.brandingtypographyheadlines p {
  font-family: "Montserrat";
}

.brandingtypographyheadlines h2 {
  margin-bottom: 0px;
}

.brandingtypographyheadlines p {
  margin-top: 0px;
}

.brandingtypographyparagraphs h2,
.brandingtypographyparagraphs p {
  font-family: "Roboto Slab";
}

.brandingtypographyparagraphs h2 {
  margin-bottom: 0px;
}

.brandingtypographyparagraphs p {
  margin-top: 0px;
}

.wireframes {
  background-color: #000;
  color: #FFF;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.wireframescontent {
  padding-top: 20px;
}

.wireframesbutton {
  padding-bottom: 60px;
  padding-top: 20px;
}

.wireframes p {
  margin: auto;
  margin-bottom: 40px;
  width: 50%;
}

.wireframeimages {

  margin: auto;
  margin-bottom: 60px;
  width: 90%;
}

.wireframe1,
.wireframe2,
.wireframe3,
.wireframe4 {
  max-width: 100%;
}

.wireframes a.btn {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 1px;
  color: #000;
  font-weight: 700;
  margin-bottom: 80px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  width: 70px;
}


/* PROCESS */
.process {
  text-align: center;
}

.mockups {
  margin: 0 auto;
  margin-bottom: 40px;
}

.mockups h1 {
  width: 100%;
}

.mockups p {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 60%
}

.mockups a.btn {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 1px;
  color: #000;
  font-weight: 700;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  width: 70px;
}

.usertesting {
  margin: 0 auto;
  margin-bottom: 40px;
}

.usertesting p {
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 60%;
}

.preferenceimages {
  margin-top: 50px;
}

.preferencetest1,
.preferencetest2,
.preferencetest3 {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 80%;
}

.preferencetest1,
.preferencetest3 {
  box-shadow: 0 0 4px 3px rgba(0,0,0,0.10);
}

.preferencetest2 {
  box-shadow: 0 0 4px 3px rgba(0, 255, 0, 0.6);
}

.preftestdivider {
  display: block;
  position: relative;
  padding: 0;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 0;
  width: 25%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 3px solid #4ABDAC;
  border-bottom: 3px solid #4ABDAC;
}

.conclusion {
  background-color: #000;
  color: #fff;
  padding: 40px;
}

.conclusioncontent {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 60%;
}

.conclusion h1 {
  margin-bottom: 0px;
  text-align: center;
}

.conclusion h2 {
  text-align: center;
}

.conclusion p {
  margin-bottom: 60px;
  text-align: left;
}

.conclusion img {
  width: 700px;
}

/* WORK */
.worktitle {
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 28px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.work .workbox {
  align-items: center;
  background-color: rgba(0,0,0,.50);
  display: flex;
  /*box-shadow: 0 2px 4px 0 rgba(0,0,0,.20);*/
  height: 350px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.work .workbox:hover {
  background: #4ABDAC;
}

.work #workbox1 h1 {
  color: #fff;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  margin-top: 0px;
}

.work .workbox .brightboardlogo {
  display: block;
  margin: auto;
  margin-bottom: 0px;
  padding: 0px;
  width: 200px;
}

.work .workbox .macbook {
  width: 500px;
}

.work .workbox a{
  display: block;
  margin: auto;
}

.work a.btn {
  background: #FFF;
  border: 2px solid #000;
  border-radius: 1px;
  color: #000;
  font-weight: 700;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

.centerbacktopbutton {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* FOOTER */
footer {
  background-color: #000000;
  color: #FFF;
  height: 120px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  width: 100%;
}

.footer-nav-block {
  padding-top: 25px;
  text-align: center;
}

footer .logo {
  float:left;
  margin-left: 40px;
  position: absolute;
}

footer .logoreversed {
  width: 70px;
}

footer nav {
  margin: 0 auto;
}

footer p,
footer nav ul {
  font-size: 18px;
  font-weight: 100;
  padding: 0px;
  text-align: center;
}
footer nav ul li {
  display: inline;
  list-style-type: none;
}

footer nav ul li + li {
  margin-left: 15px;
}

footer nav ul li a {
  color: #FFF;
  text-decoration: none;
}


@media only screen and (max-width:400px) {
  /* For mobile phones: */
  .hero a.btn {
    font-size: 14px;
  }

  .dropbtn {
    font-size: 14px;
  }

  .palette {
    width: 250px;
  }
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */

  header {
    height: 400px;
    padding: 20px 40px;
    padding-bottom: 60px;
  }

  .navigation ul {
    display: none;
  }

  .hero a.btn {
    font-size: 14px;
  }

  .dropbtn {
    font-size: 14px;
  }

  .hero .brightboardlogo {
    width: 50%;
  }
  .hero .brightboardslogan {
    font-size: 32px;
  }

  header {
    height: 100%;
  }

  .brightboardhomepage {
    width: 300px;
  }

  .overviewtext {
    margin: 0 auto;
    padding: 0px;
  }

  .overviewtext p {
    font-size: 16px;
  }

  .competitorstext {
    padding-bottom: 0px;
  }

  .usersurveyscontent p,
  .competitorstext p {
    font-size: 18px;
  }

  .logo1 {
    width: 100px;
  }
  .logo2,
  .logo3 {
    width: 60px;
  }

  .brandingtypographyheadlines h2,
  .brandingtypographyparagraphs h2 {
    font-size: 18px;
  }
  .brandingtypographyheadlines p,
  .brandingtypographyparagraphs p {
    font-size: 14px;
  }

  .conclusioncontent {
    width: 100%;
  }

  .conclusiontext p {
    font-size: 18px;
  }

  .work .boximage .macbook {
    width: 100%;
  }



}

@media only screen and (min-width:620px) {
  /* For mobile phones: */
  .palette {
    width: 350px;
  }


}

@media only screen and (max-width:768px) {

  .deliverables .box {
    width: 100%;
  }

  .overviewtext {
    width: 80%;
  }

  .research {
    width: 80%;
  }

  .logo1 {
    width: 100px;
  }
  .logo2,
  .logo3 {
    width: 60px;
  }

  .personas .user {
    width: 80%;
  }

  .navigation {
    display: none;
  }

}

@media only screen and (min-width:768px) {

  .overviewtext {
    width: 70%;
  }


  .logo1 {
    width: 175px;
  }
  .logo2,
  .logo3 {
    width: 125px;
  }

  .palette {
    width: 400px;
  }

  .dropdownnav {
    display: none;
  }

}

@media only screen and (max-width:1024px) {

  .homepagepicture {
    .width: 50%;
  }

  .conclusioncontent {
    width: 90%;
  }

  .wireframescontent p {
    width: 80%;
  }

  .work .workbox {
    display: inline-block;
    height: 100%;
    padding-top: 40px;
  }

  .mockups p {
    width: 80%;
  }

  .usertesting p {
    width: 80%;
  }

  #user1,
  #user2 {
    margin-bottom: 0px;
  }



  .brandingbox {
    width: 80%;
  }

  footer nav ul {
    font-size: 16px;
  }

  footer {
    padding-bottom: 40px;
  }

  footer .logo {
    float:left;
    margin: 0px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .footernav {
    clear: both;
  }

}

@media only screen and (min-width:1024px) {
  .overviewtext {
    width: 60%;
  }


  .wireframeimages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: auto;
    margin-bottom: 60px;
    width: 90%;
  }

  .logo1 {
    width: 200px;
  }
  .logo2,
  .logo3 {
    width: 150px;
  }

  .palette {
    width: 500px;
  }

}
