html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, serif;
}
h1
{
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}
h2 {
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 0px;
}
h3 {
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0px;
}

p {
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}
.signature {
  color: #000000;
  font-family: 'Dancing Script', Helvetica, Arial, sans-serif;
}

.one-third {
  /*width: 30%;*/
}
/* HEADER */
header {
  background: url('../images/designphoto1.png') top center no-repeat;
  background-size: cover;
  color: #FFF;
  padding: 20px 80px;
  height: 700px;
}

.topheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.navigation li + li {
  margin-left: 15px;
}

header a {
  text-decoration: none;
  color: #000000;
}

.hero {
  width: 30%;
}

header .hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 10;
}

header .hero h1 span.simple {
  color: #9B9B9B;
}

header .hero p {
  font-size: 22px;
  font-weight: 100;
  line-height: 26px;
  margin: 10px 0 40px;
}

header a.btn {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 1px;
  color: #000;
  font-weight: 700;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  width: 70px;
}

header .centerworkbutton {
  text-align: center;
}

/* WORK */
.worktitle {
  text-align: center;
  font-size: 28px;
  padding-top: 20px;
}

.work .parent{
  text-align: center;
}

#box1 {
  float: left;
}

#box2 {
    display: inline;
}

#box3 {
  float: right;
}

.box {
  background: #4ABDAC;
  border: 1px solid #979797;
  display: block;
  /*box-shadow: 0 2px 4px 0 rgba(0,0,0,.20);*/
  float:left;
  margin: 40px 40px;
  height: 250px;
  padding: 40px 40px;
  position: relative;
  width: 20%
}

.box:hover {
  background: #FD7752;
}

.box h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: -20px;
}
.box img {
  display: block;
  margin: auto;
  padding-top: 30px;
}

.box a{
  display: block;
  margin: auto;
}

.box a.btn {
  background: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 1px;
  color: #FFF;
  font-weight: 700;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  width: 70px;
}

.work a.btn {
  background: #FFF;
  border: 2px solid #000;
  border-radius: 1px;
  color: #000;
  font-weight: 700;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  width: 70px;
}

.centerbacktopbutton {
  text-align: center;

}

/* FOOTER */
footer {
  background-color: #000000;
  color: #FFF;
  height: 150px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%
}
footer p,
footer nav ul {
  font-size: 14px;
  font-weight: 100;
  margin: 10px auto 0;
  text-align: center;
}
footer nav ul li {
  display: inline;
  list-style-type: none;
}
footer nav ul li a {
  color: #FFF;
  text-decoration: none;
}
footer .right-footer-block {
  background-color: transparent;
}
footer .logo {
  display: block;
  margin: 0 auto;
  padding: 1em 0;
}
